/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* outer source */


body {
  color: white;
  height: 100%;
  font-size: 1.2vw;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(206deg, #24ffc7 5%, #00ceb4 10%, #172050 60%, black 72%, #79047f);
  background-size: 280% 280%;
  animation: BackgroundGradient 17s ease infinite;
  /* perspective: 600px; */

}

@keyframes BackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

line {
  stroke: white;
}

.login-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 130px;
}

.left{
  margin-top: 15vw;
  width: 45vw;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.samplechart{
  margin-left: 18vw;
  margin-right: 1vw;
}

.right{
  margin-left: 2vw;
  width: 45vw;
}

.title{
  margin-top: 11vw;
  font-size: 1.6vw;
  font-family: 'Press Start 2P', cursive;
}

.BigTitle{
  margin-top: 1vw;
  font-size: 2.7vw;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px #79047f;
}



.login-form{
  font-size: 0.8vw;
  font-weight: lighter;
}

.login-input {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 6px rgba(76,3,80,0.9);
  color: white;
  border: 0.1px ;
  border-radius: 3px;
  width: 18vw;
  height: 2.4vw;
  box-sizing: border-box;
  padding: 0.7vw;
  transition: box-shadow 0.25s;
  caret-color: rgba(0, 0, 0, 0.15);
}



.login-input:hover {
  caret-color: #24ffc7;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 7px #24ffc7;
  text-shadow: 0px 0px 4px #24ffc7;
}

.session-submit {
  color: #4c0350;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6vw;
  margin-top: 2.6vw;
  border-radius: 3px;
  padding: 0.75vw 3.25vw 0.75vw 3.25vw;
  font-weight: bolder;
  background: linear-gradient(to bottom, #24ffc7 0%, rgb(42, 183, 110) 30%, rgba(76,3,80,0.8) 105%);
  box-shadow: 0px 7px 5px rgba(0, 14, 32 , 0.4);
  border: none;
  transition: box-shadow 0.1s;
}



.session-submit:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 14, 32 , 0.4);
    background: linear-gradient(to bottom, #24ffc7 0%, rgb(42, 183, 110) 50%,#4c0350 125%);
}

.DemonLogin {
  color: #4c0350;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6vw;
  margin-top: 2.8vw;
  margin-left: 0.4vw;
  border-radius: 3px;
  padding: 0.75vw 3vw 0.75vw 3vw;
  font-weight: bolder;
  background: linear-gradient(to bottom, #24ffc7 0%, rgb(42, 183, 110) 20%,rgba(76,3,80,0.8) 105%);
  box-shadow: 0px 7px 5px rgba(0, 14, 32 , 0.4);
  border: none;
  transition: box-shadow 0.1s;
}

.DemonLogin:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 14, 32 , 0.4);
  background: linear-gradient(to bottom, #24ffc7 10%, rgb(42, 183, 110) 50%,#4c0350 125%);
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

a {
  color: white;
}


.mian_page {
  height: 57vw;
  font-size: 0.4vw;
  font-weight: lighter;
}

.mainHeader{
  display: flex;
  margin-top: 2.5vw;
  margin-bottom: 1.5vw;
  z-index: 100;
}

.header_title {
  flex: 0;
  text-align: center;
}

.search-block {
  flex-basis: 75%;
  position: relative;

}

.search-list {
  font-size: 0.6vw;
  position: absolute;
  left: 1.5vw;
  top: 2.6vw;
  background: linear-gradient(206deg, #00ceb4 -10%, #172050 70%, #79047f 140%);
  border-radius: 3px;
  width: 94%;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(76,3,80,0.6);
}

.search-list ul {
  margin: 0px;
  padding: 0px;
}

.search-li {
  padding-left: 80px;
  list-style-type: none;
  margin: auto;
  height: 1.8vw;
  position: relative;
}

.search-li:hover {
  transition: box-shadow 0.3s;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 7px #24ffc7;
  background: linear-gradient(206deg, #00ceb4 20%, #172050 80%, #79047f 110%);
}

.search-li p {
  margin-top: 0.5vw;
  display: inline-block;
   vertical-align: top;
}


.stock-li-name {
  position: absolute;
  left: 35%;
}

.stock-link{
  text-decoration: none;
}



#searchbar.login-input {
  width: 94%;
  height: 2vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  font-size: 0.7vw;
}

#searchbar.login-input:hover{
  background-color: rgba(0, 0, 0,0.4);

  color: rgb(255,255,255)
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.4);
  box-shadow: none;
}


.header-group{
  flex-basis: 25%;
  display: flex;
  font-size: 12px;
  margin-left: 1vw;
}

.header-button{
  height: 1.7vw;
  color: white;
  font-size: 0.7vw;
  margin:  3.6px 2vw auto 0.5vw;
  border-radius: 3px;
  padding: 1px 2vw 2px 2vw;
  font-weight: bolder;
  background:rgba(76,3,80,0.1);
  box-shadow: 0px 3px 1px rgba(0, 14, 32 , 0.6);
  border: none;
  transition: box-shadow 0.3s;
}

.header-button:hover{
  box-shadow: 0px 0px 7px #24ffc7;
  text-shadow: 0px 0px 4px #24ffc7;
}


.header-name{
  font-size: 0.7vw;
}

.stockPage {
  margin-left: 4vw;
}

.stockPageCore {
  display: flex;
  margin-bottom: 0.6vw;
}

.stockGraph {
  flex: 75%;
}

.company_sector{
  font-size: 0.65vw;
}

/* .company_sector{
  padding-top: 10px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  height: 30px;
  width:  150px;
  transition: box-shadow 0.3s;
  text-align: center;
  margin-bottom: 0;
}

.company_sector:hover{
  cursor: pointer;
  box-shadow: 0px 0px 7px #24ffc7;
} */

.sideBox{
  flex: 25%;
  margin: 0px 6% 0px 3%;
}

.fillsBox{
  width: 14vw;
  min-height: 19vw;
  margin: 0px;
  margin-bottom: 1.4vw;
  box-shadow: 0px 4px 15px rgba(76,3,80,0.4);
  transition: box-shadow 1.2s;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0px;
  font-size: 0.65vw;
}

.fillsBox:hover{
  box-shadow: 0px 0px 17px #24ffc7;
}

.fillform-box{
}

.fillform-buttons{
  display: flex;
  justify-content: space-between;
}

.switch-side{
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 0.45vw;
  font-family: 'Press Start 2P', cursive;
  padding-top: 18px;
  padding-bottom: 12px;
  text-decoration: none;
}

#on{
  border-top: 4px solid #24ffc7;
  border-left: 0px;
  border-right: 0px;
  width: 50%;
  text-align: center;
}

#off{
  border-top: 4px solid rgba(76,3,80,0);
  box-shadow: 0px 4px 15px rgba(76,3,80,0);
  transition: box-shadow 0.2s;
  text-align: center;
  width: 50%;
}

#off:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);
  /* text-shadow: 0px 0px 4px #24ffc7; */
  box-shadow: 0px 0px 17px #24ffc7;
}

.share-input {
  display: flex;
  margin: 0.5vw 0px 0.4vw auto;
  justify-content: space-between;
}

.fillform-input{
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 6px rgba(76,3,80,0.9);
  text-align: right;
  color: white;
  border: 0.1px ;
  border-radius: 3px;
  width: 7vw;
  height: 2vw;
  box-sizing: border-box;
  padding: 7px;
  transition: box-shadow 0.25s;
  caret-color: rgba(0, 0, 0, 0.15);
}

.fillform-input:hover {
  caret-color: #24ffc7;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 7px #24ffc7;
  text-shadow: 0px 0px 4px #24ffc7;
}


.market-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.estimate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asset-display{
  margin-top: 1.8vw;
  display: flex;
  text-align: center;
  justify-content: center;
}

.asset-display-text{
  margin: auto;
}

#order-submit.session-submit {
  margin: 0;
  margin-top: 1.3vw;
  width: 100%;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
}

.company_title{
  font-size: 1.8vw;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0.3vw 0.3vw #79047f;
  margin-bottom: 0.3vw;
}

.pointed_price{
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
  margin: 0.4vw 0px 10px  0.4vw;
}

.price_change {
  font-size: 0.9vw;
  margin: 10px 0px 40px 0px;
}

.stockDataButton {
  height: 30px;
  color: white;
  font-size: 0.65vw;
  margin:  3.6px 5px auto 3px;
  border-radius: 3px;
  padding: 0.02vw 1.8vw 0.02vw 1.8vw;
  font-weight: bolder;
  background:rgba(58, 255, 204, 0.06);
  box-shadow: 0px 3px 8px rgba(76,3,80,0.9);
  border: none;
  transition: box-shadow 0.3s;
}

.stockDataButton:hover{
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px #24ffc7;
  text-shadow: 0px 0px 4px #24ffc7;
}

.buttonGroup{
  margin-left: 4vw;
}


.addOrRemove{
  font-size: 0.7vw;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  height: 1.6vw;
  min-width: 8vw;
  box-sizing: content-box;
  transition: box-shadow 0.3s;
  margin-left:  3.15vw;
}

.addOrRemove:hover{
  cursor: pointer;
  box-shadow: 0px 0px 7px #24ffc7;
}
.custom-tooltip{
  font-size: 15px;
}

.portfolio{
  width: 85%;
  margin: auto;
  margin-top: 2vw;
  display: flex;
  /* border: 1px solid white; */
}

.portfolio-sector{
    width: 65%;

}

.portfolio-chart{
  margin-top: 1vw;
  box-sizing: content-box;
  /* border: 2px solid red; */
}

.asset-charts {
  margin: auto;
  margin-top: 1.6vw;
  display: flex;
  justify-content: center;
}

.dashboard-watchlist{
  margin-left: 1.5vw;
  width: 29%;
  min-height: 40vw;
  box-shadow: 0px 4px 15px rgba(76,3,80,0.4);
  box-sizing: border-box;
  transition: box-shadow 1.2s;
  padding: 20px;
  padding-bottom: 1vw;
  text-decoration: none;
  margin-bottom: 2vw
}

.dashboard-watchlist:hover{
  box-shadow: 0px 0px 17px #24ffc7;
}

.watchlist-ul{
  width: 100%;
  padding:  0;
}

.watchlist-link{
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

.watchlist-li{
  font-size: 0.65vw;
  margin-top: 0.6vw;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
  transition: box-shadow 0.4s;
}

.watchlist-li:hover{
  background: linear-gradient(206deg, #00ceb4 -10%, #79047f 130%);
  box-shadow: 0px 0px 17px #24ffc7;
}

.watchlist-li-name{
  margin-left: 2vw;
}

.watchlist-li-price{
  margin-left: 2vw;
}

.piechart-title{
  font-size: 1vw;
  text-align: center;
  margin-bottom: 0;
}

.dashboard-title{
  height: 17%;
  margin-top: 0;
  font-size: 1vw;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0.5vw 0.3vw #79047f;
}

.dashboard-title h1{
  margin-top: 0;
}

.total-value{
  font-size: 1.4vw;
  text-shadow: none;
  margin-bottom: 0.4vw;
}

.total-value-sign{
  margin-top: 0px;
  margin-bottom: 3.5vw;
  font-size: 0.8vw;
  text-shadow: none;
}



.text-flicker-out-glow {
  font-size:15vw;
  color:#F333FF;
  font-family: 'Mr Dafoe';
  margin:0;
  padding:0;
	-webkit-animation: text-flicker-out-glow 1s linear infinite both;
	-moz-animation: text-flicker-out-glow 2s linear infinite both;
	animation: text-flicker-out-glow 2s linear infinite both;
}


/* FOR FLICKER ICON */

.text-flicker-out-glow{
  font-size: 1.8vw;
  margin-left: 4vw;
  text-align: center;
  animation-name: text-flicker-out-glow, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  text-decoration: none;
}

.text-flicker-out-glow:hover{
  cursor: pointer;
}

.spin-dollar{
  text-decoration: none;
}

@keyframes text-flicker-out-glow {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.6), 0 0 6px rgba(243, 51, 255, 0.45), 0 0 110px rgba(243, 51, 255, 0.25), 0 0 100px rgba(243, 51, 255, 0.1); }
  25% { opacity: 0;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.4), 0 0 110px rgba(243, 51, 255, 0.2), 0 0 100px rgba(243, 51, 255, 0.1); }
  50% {opacity: 1;
     text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25); }
  75% {  opacity: 0;
    text-shadow: none; }
  100% { text-shadow: 0 0 black; }
}


/* @-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.6), 0 0 60px rgba(243, 51, 255, 0.45), 0 0 110px rgba(243, 51, 255, 0.25), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.6), 0 0 60px rgba(243, 51, 255, 0.45), 0 0 110px rgba(243, 51, 255, 0.25), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.4), 0 0 110px rgba(243, 51, 255, 0.2), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.4), 0 0 110px rgba(243, 51, 255, 0.2), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.35), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.35), 0 0 100px rgba(243, 51, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.55), 0 0 60px rgba(243, 51, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.45), 0 0 60px rgba(243, 51, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(243, 51, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
} */




/* the spinner for loading */

#spinner {
  margin: auto;
  margin-top: 40vh;
  font-size:60px;
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.7s;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 black; }
  25% { text-shadow: 1px 0 black, 10px 0 black, 10px 0 black, 4px 0 black, 5px 0 black; }
  50% { text-shadow: 0 0 yellow; }
  75% { text-shadow: -1px 0 black, -2px 0 black, -10px 0 black, -4px 0 black, -5px 0 black; }
  100% { text-shadow: 0 0 black; }
}




/* Below is for further styling, changing class for the color */
